@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start text-white" style="position: relative">
    <div style=" width: 613px; height: 527px;">
        <!-- SVG изображение -->
        <svg width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.68611 178.335C-10.1585 101.458 -0.245929 65.028 50.1562 29.6412C155.283 -44.1716 319.466 43.7287 427.595 78.48C511.107 105.324 607.447 145.749 612.312 247.046C617.809 361.031 489.958 458.015 384.871 419.439C309.511 391.762 286.626 397.809 226.555 461.275C159.815 531.788 114.477 543.629 60.2145 504.714C17.3456 473.988 6.16726 422.874 13.669 373.454C30.6864 261.325 30.6541 259.54 9.68611 178.335Z" fill="#50B0A1" />
        </svg>

        <div style="position: absolute; top: 100px; left: 40px; ">
            <p>Интерактивное изучение</p>
            <p>программирования</p>
        </div>
        <svg style="position: absolute; top: 150px; left: 670px;" width="168" height="120" viewBox="0 0 168 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M124.45 68.2119L8.88873 106.739L0.761119 82.3602L116.322 43.8332L76.2712 23.8103L87.7624 0.824948L167.052 40.4646L127.412 119.754L104.427 108.263L124.45 68.2119Z" fill="#F2C94C" />
        </svg>

        <div > 
            <p style="position: absolute; top: 20px; left: 900px; font-size: 32px;">Мы предлагаем: </p>
            <ul style="position: absolute; top: 60px; left: 930px; ">
                <li>Простая программа обучения</li>
                <li>Увлекательное изучение языков программирования</li>
                <li>Реальные знания</li>
            </ul>
        </div>

        <svg id="svgElement" style="position: absolute; top: 500px; left: 800px;" width="94" height="101" viewBox="0 0 114 121" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.2524 80.9967L96.6542 0.899573L113.372 15.8023L41.9701 95.8995L81.1269 93.4421L82.297 115.928L4.77781 120.793L0.741446 43.2261L23.2136 41.8159L25.2524 80.9967Z" fill="#F2C94C" />
        </svg>

    </div>
    <br />
</div>

<div class="text-start text-white second-container" style="position: relative">
    <br /><br /><br /><br /><br /><br /><br />
    <div >
        <p id="bottom">Начни уже сегодня!</p>
    </div>
    <br /><br /><br /><br />


    <svg style="position: absolute; left: 45%; top: 670px;" width="142" height="95" viewBox="0 0 162 115" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M111.538 74.8137L0.419722 24.899L10.9497 1.45767L122.068 51.3723L106.16 9.51618L130.181 0.386435L161.675 83.2495L78.8115 114.743L69.6817 90.7219L111.538 74.8137Z" fill="#F2C94C" />
    </svg>
    <form method="post" asp-action="Create">
        <div class="form-floating mb-3 position-absolute label-background" style="width: 475px; top: 467px; left: 15px;">
            <input type="email" class="form-control border-0 text-white" id="floatingEmail" placeholder="name@example.com">
            <label for="floatingEmail" >Email address</label>
        </div>

        <div class="form-floating mb-3 position-absolute label-background" style="width: 475px; top: 467px; left: 665px;">
            <input type="password" class="form-control border-0 text-white" id="floatingPassword" placeholder="password">
            <label for="floatingPassword" >Password</label>
        </div>
    
        <div class="form-floating mb-3 position-absolute label-background " style="width: 475px; top: 760px; left: 15px;">
            <input type="text" class="form-control border-0 text-white" id="floatingUsername" placeholder="password">
            <label for="floatingUsername" >Username</label>
        </div>

    </form>


    <button id="svgElement1" class="svg-button button-text " style=" margin-top: 350px; margin-left: 920px; font-size: 32px;">Отправить</button>

    <script>
        function adjustLabelSizeOnFocus(inputId, labelSelector) {
            const inputElement = document.getElementById(inputId);
            const labelElement = document.querySelector(labelSelector);

            inputElement.addEventListener('focus', function () {
                labelElement.style.fontSize = 'smaller'; // Уменьшаем размер шрифта метки
            });

            inputElement.addEventListener('blur', function () {
                if (inputElement.value === '') {
                    labelElement.style.fontSize = ''; // Возвращаем размер шрифта метки к исходному
                }
            });
        }

        // Вызов функции для каждого поля ввода
        adjustLabelSizeOnFocus('floatingEmail', 'label[for="floatingEmail"]');
        adjustLabelSizeOnFocus('floatingPassword', 'label[for="floatingPassword"]');
        adjustLabelSizeOnFocus('floatingUsername', 'label[for="floatingUsername"]');


        // Обработчик валидации полей
        document.getElementById('svgElement1').addEventListener('click', function (event) {
        event.preventDefault(); //Предотвращаем отправку формы

        var email = document.getElementById('floatingEmail').value;
        var password = document.getElementById('floatingPassword').value;
        var username = document.getElementById('floatingUsername').value;

        //Проверка email
        var emailRegex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if (!emailRegex.test(email)) {
            alert('Введите корректный email');
            return;
        }

        //Проверка пароля
        var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
        if (!passwordRegex.test(password)) {
            alert('Пароль должен содержать буквы и цифры, быть не менее 8 символов');
            return;
        }

        //Проверка имени пользователя
        if (username.trim() === '') {
            alert('Имя пользователя не должно быть пустым');
            return;
        }

            // Если все проверки прошли успешно, отправляем данные на сервер
            var userData = {
                Email: email,
                Password: password,
                Name: username
            };

            fetch('https://localhost:7233/Home/Create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(userData),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = '/Account';
                    } else {
                        alert('Ошибка при сохранении данных');
                    }
                })
                ;

        //Если все проверки прошли успешно, переходим на страницу Account
            // Если все проверки прошли успешно, отправляем форму
            document.querySelector('form').submit();
        //window.location.href = 'Account';
        });

    </script>


    <br /><br /><br />
</div>

