@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start text-white" style="position: relative">
    <div style=" width: 613px; height: 527px;">
        <!-- SVG изображение -->
        <svg width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.68611 178.335C-10.1585 101.458 -0.245929 65.028 50.1562 29.6412C155.283 -44.1716 319.466 43.7287 427.595 78.48C511.107 105.324 607.447 145.749 612.312 247.046C617.809 361.031 489.958 458.015 384.871 419.439C309.511 391.762 286.626 397.809 226.555 461.275C159.815 531.788 114.477 543.629 60.2145 504.714C17.3456 473.988 6.16726 422.874 13.669 373.454C30.6864 261.325 30.6541 259.54 9.68611 178.335Z" fill="#50B0A1" />
        </svg>

        <div style="position: absolute; top: 100px; left: 40px; ">
            <p>Интерактивное изучение</p>
            <p>программирования</p>
        </div>
        <svg style="position: absolute; top: 150px; left: 670px;" width="168" height="120" viewBox="0 0 168 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M124.45 68.2119L8.88873 106.739L0.761119 82.3602L116.322 43.8332L76.2712 23.8103L87.7624 0.824948L167.052 40.4646L127.412 119.754L104.427 108.263L124.45 68.2119Z" fill="#F2C94C" />
        </svg>

        <div > 
            <p style="position: absolute; top: 20px; left: 900px; font-size: 32px;">Мы предлагаем: </p>
            <ul style="position: absolute; top: 60px; left: 930px; ">
                <li>Простая программа обучения</li>
                <li>Увлекательное изучение языков программирования</li>
                <li>Реальные знания</li>
            </ul>
        </div>

        <svg id="svgElement" style="position: absolute; top: 500px; left: 800px;" width="94" height="101" viewBox="0 0 114 121" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.2524 80.9967L96.6542 0.899573L113.372 15.8023L41.9701 95.8995L81.1269 93.4421L82.297 115.928L4.77781 120.793L0.741446 43.2261L23.2136 41.8159L25.2524 80.9967Z" fill="#F2C94C" />
        </svg>


        @* <button type="button" class="btn btn-outline-light btn-lg top-100 start-100 translate-middle" style="top: 1000px;">Начать</button> *@
    </div>
    <br />
</div>

<div class="text-start text-white second-container" style="position: relative">
    <br /><br /><br /><br /><br /><br /><br />
    <div >
        <p id="bottom">Начни уже сегодня!</p>
    </div>
    <br /><br /><br /><br />
    <svg width='475' height='157' viewBox='0 0 475 157' fill='none' xmlns='http://www.w3.org/2000/svg'>
        <path d='M33.5448 13.1715C66.8471 -1.79118 102.517 -3.50491 189.217 5.68894C264.098 13.6323 349.618 4.93338 431.462 26.7227C468.199 36.5031 491.971 65.0218 459.499 85.8389C427.025 106.657 356.611 90.42 266.083 134.552C183.224 174.945 57.2226 158.244 10.4679 88.9906C-9.51149 59.3961 -0.0348427 28.2574 33.5448 13.1715Z' fill='#A483D0' />
    </svg>


    <svg style="margin-left: 170px;" width="475" height="157" viewBox="0 0 475 157" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M33.5448 13.1715C66.8471 -1.79118 102.517 -3.50491 189.217 5.68894C264.098 13.6323 349.618 4.93338 431.462 26.7227C468.199 36.5031 491.971 65.0218 459.499 85.8389C427.025 106.657 356.611 90.42 266.083 134.552C183.224 174.945 57.2226 158.244 10.4679 88.9906C-9.51149 59.3961 -0.0348427 28.2574 33.5448 13.1715Z" fill="#A483D0" />
    </svg>

    <svg style="margin-top: 50px;" width="475" height="157" viewBox="0 0 475 157" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M33.5448 13.1715C66.8471 -1.79118 102.517 -3.50491 189.217 5.68894C264.098 13.6323 349.618 4.93338 431.462 26.7227C468.199 36.5031 491.971 65.0218 459.499 85.8389C427.025 106.657 356.611 90.42 266.083 134.552C183.224 174.945 57.2226 158.244 10.4679 88.9906C-9.51149 59.3961 -0.0348427 28.2574 33.5448 13.1715Z" fill="#A483D0" />
    </svg>

    <svg id="svgElement1" style="margin-top: 200px; margin-left: 400px" width="254" height="174" viewBox="0 0 254 174" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M92.4386 8.22438C125.878 17.6373 137.748 17.92 166.883 9.99554C210.143 -1.76426 259.178 18.3092 253.248 72.4617C248.685 114.11 219.274 155.995 186.647 167.31C131.705 186.365 54.5805 162.037 19.6709 115.482C-10.4268 75.35 -4.44466 24.4692 32.6603 4.99494C45.245 -1.61026 60.4104 -0.792213 92.4386 8.22438Z" fill="#50B0A1" />
    </svg>
    <button class="svg-button">Нажми меня</button>



    <svg style="position: absolute; left: 45%; top: 670px;" width="142" height="95" viewBox="0 0 162 115" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M111.538 74.8137L0.419722 24.899L10.9497 1.45767L122.068 51.3723L106.16 9.51618L130.181 0.386435L161.675 83.2495L78.8115 114.743L69.6817 90.7219L111.538 74.8137Z" fill="#F2C94C" />
    </svg>
    <form method="post" asp-action="Create">
        <div class="form-floating mb-3 position-absolute" style="width: 430px; top: 467px; left: 15px;">
            <input type="email" class="form-control border-0" id="floatingEmail" placeholder="name@example.com" style="background-color: transparent; color: white;">
            <label for="floatingEmail" style="background-color: transparent;">Email address</label>
        </div>

        <div class="form-floating mb-3 position-absolute" style="width: 430px; top: 467px; left: 665px;">
            <input type="password" class="form-control border-0" id="floatingPassword" placeholder="password" style="background-color: transparent; color: white;">
            <label for="floatingPassword" style="background-color: transparent;">Password</label>
        </div>
    
        <div class="form-floating mb-3 position-absolute" style="width: 430px; top: 760px; left: 15px;">
            <input type="password" class="form-control border-0" id="floatingUsername" placeholder="password" style="background-color: transparent; color: white;">
            <label for="floatingUsername" style="background-color: transparent;">Username</label>
        </div>
    </form>


    <p id="sendParagraph" style="position: absolute; top: 850px; left: 920px; font-size: 32px;">Отправить</p>

    <script>
        function adjustLabelSizeOnFocus(inputId, labelSelector) {
            const inputElement = document.getElementById(inputId);
            const labelElement = document.querySelector(labelSelector);

            inputElement.addEventListener('focus', function () {
                labelElement.style.fontSize = 'smaller'; // Уменьшаем размер шрифта метки
            });

            inputElement.addEventListener('blur', function () {
                if (inputElement.value === '') {
                    labelElement.style.fontSize = ''; // Возвращаем размер шрифта метки к исходному
                }
            });
        }

        // Вызов функции для каждого поля ввода
        adjustLabelSizeOnFocus('floatingEmail', 'label[for="floatingEmail"]');
        adjustLabelSizeOnFocus('floatingPassword', 'label[for="floatingPassword"]');
        adhustLabelSizeOnFocus('floatingUsername', 'label[for="floatingUsername"]');


        // Обработчик события для SVG
        document.getElementById('svgElement').addEventListener('click', function () {
            alert('SVG элемент был нажат');
        });

        // Обработчик события для параграфа
        document.getElementById('sendParagraph').addEventListener('click', function () {
            alert('Параграф "Отправить" был нажат');
        });
    </script>


    <br /><br /><br />
</div>

