html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1C1C1C;
}

.text-start p {
    font-family: 'Jura', sans-serif;
    fill: white;
    font-size: 48px;
    margin: 0px;
}
.text-start li {
    font-family: 'Jura', sans-serif;
    fill: white;
    font-size: 32px;
    margin: 0px;
}
#bottom::before {
    content: "";
    display: block;
    height: 100px; /* Высота пространства, которое вы хотите создать */
}
.second-container{
    margin-left: 20px;
}
.form-floating > input:not(:focus):placeholder-shown + label {
    background-color: transparent;
}
.text-start label {
    font-family: 'Jura', sans-serif;
    fill: white;
    font-size: 26px;
    margin: 0px;
    background-color: transparent;
}
.text-start input {
    font-family: 'Jura', sans-serif;
    fill: white;
    font-size: 22px;
    margin: 0px;
    background-color: transparent;
}
.svg-button {
    background-image: url('../ButtonEnter.svg');
    background-size: cover;
    background-color: transparent;
    width: 254px; /* Ширина SVG */
    height: 174px; /* Высота SVG */
    border: none; /* Удаление границы кнопки */
    cursor: pointer; /* Изменение курсора на указатель */
}
.button-text {
    font-family: 'Jura', sans-serif;
    color:white;
    fill: white;
    font-size: 32px;
    margin: 0px;
}
.label-background {
    background-image: url('../labelInput.svg');
    background-size: cover;
    background-color: transparent;
    width: 475px; /* Ширина SVG */
    height: 157px; /* Высота SVG */
    border: none; /* Удаление границы кнопки */
    cursor: pointer; /* Изменение курсора на указатель */
    
}
    .label-background input {
        background: transparent !important;
        color: white;
        width: 420px;
        margin-top: 35px;
        margin-left: 20px;
    }
    btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white;
    } 
    .label-background label {
        background: transparent !important;
        color: white;
        margin-top: 35px;
        margin-left: 20px;
    }